In [7]:
import pandas as pd
from sqlalchemy import create_engine

In [8]:
csv_file = "Resources/AviationData.csv"
accidents = pd.read_csv(csv_file, encoding='iso8859')
accidents.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.Flight,Air.Carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.Phase.of.Flight,Report.Status,Publication.Date
0,20181217X10943,Accident,GAA19CA098,2018-12-16,"Grangville, ID",United States,45.583611,-115.681667,PVT,NaN,...,Positioning,NaN,NaN,NaN,NaN,1.0,NaN,NaN,Preliminary,2018-12-18
1,20181217X25746,Accident,GAA19CA097,2018-12-15,"MORIARTY, NM",United States,34.970000,-106.000000,NaN,MORIARTY MUNI,...,Personal,NaN,NaN,NaN,NaN,1.0,VMC,NaN,Preliminary,2018-12-20
2,20181213X41114,Accident,ERA19LA065,2018-12-13,"Punta Gorda, FL",United States,26.925278,-82.001111,PGD,Punta Gorda,...,Personal,NaN,NaN,NaN,1.0,NaN,VMC,APPROACH,Preliminary,2018-12-21
3,20181213X45528,Accident,CEN19FA044,2018-12-13,"Valparaiso, IN",United States,41.451667,-87.004444,VPZ,Porter County Rgnl,...,Personal,NaN,1.0,NaN,NaN,NaN,VMC,TAKEOFF,Preliminary,2018-12-19
4,20181214X90303,Accident,GAA19CA096,2018-12-11,"Hartford, WI",United States,43.330278,-88.326111,HXF,Hartford Muni,...,Personal,NaN,NaN,NaN,NaN,1.0,VMC,NaN,Preliminary,2018-12-18

In [9]:
#accidents.to_csv(r'accidents.csv')

In [10]:
Adrop_new = accidents[["Event.Id", "Investigation.Type", "Event.Date", "Country", "Airport.Code", "Injury.Severity", "Aircraft.Damage"]]

In [11]:
Adrop_new.dropna()
Adrop_new.head()

,Event.Id,Investigation.Type,Event.Date,Country,Airport.Code,Injury.Severity,Aircraft.Damage
0,20181217X10943,Accident,2018-12-16,United States,PVT,Non-Fatal,Substantial
1,20181217X25746,Accident,2018-12-15,United States,NaN,Non-Fatal,Substantial
2,20181213X41114,Accident,2018-12-13,United States,PGD,Non-Fatal,Substantial
3,20181213X45528,Accident,2018-12-13,United States,VPZ,Fatal(1),Destroyed
4,20181214X90303,Accident,2018-12-11,United States,HXF,Non-Fatal,Substantial

In [14]:
Adrop_new = Adrop_new.loc[Adrop_new['Country'] == "United States", :]
Adrop_new.head()

,Event.Id,Investigation.Type,Event.Date,Country,Airport.Code,Injury.Severity,Aircraft.Damage
0,20181217X10943,Accident,2018-12-16,United States,PVT,Non-Fatal,Substantial
1,20181217X25746,Accident,2018-12-15,United States,NaN,Non-Fatal,Substantial
2,20181213X41114,Accident,2018-12-13,United States,PGD,Non-Fatal,Substantial
3,20181213X45528,Accident,2018-12-13,United States,VPZ,Fatal(1),Destroyed
4,20181214X90303,Accident,2018-12-11,United States,HXF,Non-Fatal,Substantial

In [16]:
Adrop_new.rename(columns={"Event.Id": "Event_Id", "Investigation.Type" : "Investigation_Type",
                         "Event.Date": "Event_Date", "Airport.Code" : "Airport_Code", "Injurey.Severity": "Injurey_ Severity", 
                        "Aircraft.Damage": "Aircraft_Damage"})
Adrop_new.head()

,Event.Id,Investigation.Type,Event.Date,Country,Airport.Code,Injury.Severity,Aircraft.Damage
0,20181217X10943,Accident,2018-12-16,United States,PVT,Non-Fatal,Substantial
1,20181217X25746,Accident,2018-12-15,United States,NaN,Non-Fatal,Substantial
2,20181213X41114,Accident,2018-12-13,United States,PGD,Non-Fatal,Substantial
3,20181213X45528,Accident,2018-12-13,United States,VPZ,Fatal(1),Destroyed
4,20181214X90303,Accident,2018-12-11,United States,HXF,Non-Fatal,Substantial

In [17]:
Adrop_new.to_csv(r'Adrop_new.csv')

In [59]:
#Adrop = accidents.drop(columns=["Purpose.of.Flight", "Air.Carrier", "Publication.Date", "Purpose.of.Flight", "Schedule", "FAR.Description", "Accident.Number", "Broad.Phase.of.Flight", "Total.Uninjured", "Weather.Condition",
#                       "Engine.Type", "Number.of.Engines", "Amateur.Built", "Registration.Number", "Aircraft.Category", "Country", "Location", "Airport.Name", "Make", "Model", "Report.Status"])
#
#Adrop.rename(columns={"Event.Id": "Event Id", "Investigation.Type" : "Investigation Type", "Accident.Number": "Accident Number",
#                         "Event.Date": "Event Date", "Airport.Code" : "Airport Code", "Airport.Name" : "Airport Name", "Injurey.Severity": "Injurey Severity", 
#                        "Aircraft.Damage": "Aircraft Damage", "Total.Fatal.Injuries": "Total Fatal Injuries", "Total.Serious.Injuries": "Total Serious Injuries",
#                         "Total.Minor.Injuries": "Total Minor Injuries",
#                         "Broad.Phase.of.Flight" : "Broad Phase of Flight", "Report.Status": "Report Status"})

In [60]:
#Adrop.dropna()

In [51]:
#Adrop.to_csv(r'Adrop.csv')